* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    font-size: xxx-large;
    color: #dae8f5;
}
h5 {
    height: 2.3rem;
    text-align: center;
}
#icon {
    width: 6rem;
    margin: 1rem;
}
.carousel-inner img{
    height: 35vh;
    object-fit: cover;
    object-position: center;
}
.card-img-top{
    width: 15rem;
    height: 10rem;
    object-fit: cover;
}
.socialImg {
    width: 2rem;
    margin: 0.5rem;
}
.form-check{
    min-height: 1.5rem;
    padding-left: 0.6rem;
    margin-bottom:0;
}
table {
    border: solid 2px black;
}
footer{
    min-height: 15vh;
    justify-content: center;
    align-items: center;
    background-color: #dae8f5;
}